# -*- coding: utf-8 -*-
# vim: ft=yaml
#
# Set default values.
---
splunkforwarder:
  pkg:
    # Package type can be 'url', 'pkg', or 'tar'
    # If set to 'url' edit the Debian.yaml or RedHat.yaml file for download URL.
    type: 'url'

    # If set to pkg above define the pkg name and version
    name: splunkforwarder
    version: 8.1.3

    # If set the 'tar' above define the tar download path here
    tarurl: >-
      'http://download.splunk.com/products/universalforwarder/releases/8.1.3/linux/splunkforwarder-8.1.3-63079c59e632-Linux-x86_64.tgz'

  # Systemd or initd OS
  boottype: 'initd'

  # SplunkForwarder directory ownership and runas user
  user: splunk
  group: splunk

  # Configure a local user. Creates user and group defined above.
  # This should not be needed as the splunkforwarder install now configures this.
  createlocaluser: 'false'
  # Groups user belongs to
  additionalgroups:
    - loggroup


  # Configure Certs
  configcerts: 'false'
  self_cert_filename: selfsignedcert.pem
  certs:
    cacert.pem:
      content: put your cert content here
    selfsignedcert.pem:
      content: put your cert content here
